<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign:</strong>
  <%= @campaign.campaign %>
</p>

<p>
  <strong>Votes:</strong>
  <% @votes.each do |vote| %>
  <%= vote.choice %>
  <%= vote.valid_votes %>
  <%= vote.uncounted_votes %>
  <% end %>
</p>
